table{
border-collapse: collapse;
font-family: georgia;
}

th{
border: 2px black solid;
font-size: 12;
text-transform: uppercase;
}

td{
width: 100px;
height: 80px;

border: 2px black solid;
padding: 5px;
vertical-align: center;
}

caption{
font-size: 30;
font-style: italic;
margin: 15px;
text-align: left;
}

.day{
text-align: center;
}

.notes{
font-family: Arial Helvetica, sans-serif;
font-size: 12;
text-align: center;
margin: 5px;
}

.event{
background-color: darkorange;
color: red;
}

.birthday{
background-color: cyan;
color: blue;
}

.weekend{
background-color: salmon;
}