| body{
  | background: url(&quot;../image/harvest-moon-back-to-nature.jpg&quot;) fixed;
    | }
    | .wrap1{
    | width: 980px;
    | margin: 0 auto;
    | }
    | .wrap2{
    | width:735px;
    | background: transparant;
    | padding: 5px;
    | }
    | .box1{
    | width: 725px;
    | height:165px;
    | background: transparant;
    | padding: 5px;
    | }
    | .box2{
    | width: 200px;
    | height: 150px;
    | background: white;
    | padding: 5px;
    | float: left;
    | }
    | .box3{
    | width: 500px;
    | background: transparant;
    | padding: 5px;
    | margin-left: 5px;
    | float: left;
    | }
    | .boxpict{
    | padding: 5px;
    | margin: 5px;
    | background: green;
    | float: left;
    | }
    | .boxpict img{
    | width: 160px;
    | height: 200px;
    | }
    | .header{
    | width: 980px;
    | float: left;
    | cursor: url(&quot;../image/harvest-moon-back-to-nature.jpg&quot;);
    | }
    | .header img{
    | width: 980px;
    | height: 250px;
    | }
    | .nav{
    | width: 970px;
    | height: 35px;
    | border-radius: 500px 100px 500px 100px;
    | background: linear-gradient(black, gray, white, gray, black);
    | margin: 5px;
    | list-style:none;
    | float: left;
    | }
    | .nav li a.warna{
    | color: red;
    | font-weight: bold;
    | }
    | .side li a.warna{
    | color: blue;
    | font-weight: bold;
    | }
    | .nav li a {
    | width: 100px;
    | text-align:center;
    | color: black;
    | border-radius: 500px 100px 500px 100px;
    | background: linear-gradient(black, gray, white, gray, black);
    | text-decoration:none;
    | text-transform:uppercase;
    | padding: 10px;
    | font-family: calibri;
    | font-size: 12;
    | float:left;
    | }
    | .nav li a:hover {
    | border-radius: 500px 100px 500px 100px;
    | background: linear-gradient(white, gray, black, gray, white);
    | color: gold;
    | font-weight: bold;
    | }
    | .aud{
    | width: 960px;
    | height: 30px;
    | margin: 0 5px 5px 5px;
    | background: transparant;
    | float: left;
    | }
    | audio{
    | width: 960px;
    | height: 30px;
    | margin: 5px;
    | line-height: 30px;
    | float: left;
    | }
    | .side{
    | width: 200px;
    | background: linear-gradient(-45deg, teal, cyan);
    | margin: 0 5px;
    | list-style:none;
    | padding: 10px 0;
    | float: left;
    | }
    | posisi{
    | width: 200px;
    | position: fixed;
    | }
    | .list{
    | width: 200px;
    | height: 30px;
    | margin: 0 0 10px 0;
    | line-height: 30px;
    | text-align: center;
    | color: red;
    | background: black;
    | font-size: 30;
    | font-variant: small-caps;
    | text-shadow : 10px 5px 12px white;
    | }
    | .side li a {
    | width: 180px;
    | color: black;
    | list-style:none;
    | background: linear-gradient(-45deg, cyan, teal, cyan);
    | text-decoration:none;
    | text-transform:uppercase;
    | padding: 10px;
    | font-family: calibri;
    | font-size: 12;
    | float:left;
    | }
    | .side li a:hover {
    | background: linear-gradient(-45deg, lime, green, lime);
    | font-weight: bold;
    | color: darkorange;
    | }
    | .ctn{
    | width: 745px;
    | margin-right: 5px;
    | background: linear-gradient(-45deg, green, lime, #f9edbe);
    | opacity: 0.9;
    | padding: 10px;
    | font-size: 15;
    | font-family: calibri;
    | text-align: justify;
    | float: left;
    | }
    | .footer{
    | width: 970px;
    | margin: 5px;
    | background: linear-gradient(-45deg, silver, #444, gray, silver, gray, #444, silver);
    | float: left;
    | }
    | .footer1{
    | margin-top: 10px;
    | margin-left: 10px;
    | margin-bottom: 5px;
    | font-family: calibri;
    | font-weight: bold;
    | color: black;
    | float: left;
    | list-style: square;
    | padding: 5px;
    | }
    | .footer1 li a{
    | text-decoration: none;
    | font-style: italic;
    | color: silver;
    | }
    | .footer1 li a:hover{
    | color: gold;
    | }
    | .footer2{
    | margin-top: 40px;
    | margin-right: 10px;
    | margin-bottom: 5px;
    | float: right;
    | }
    | .footer2 img{
    | width: 50px;
    | height: 50px;
    | margin-right: 5px;
    | }
    | .footer3{
    | width: 970px;
    | background: black;
    | margin-top: 5px;
    | text-align: center;
    | color: white;
    | float: left;
    | }
    | .footer3 a{
    | text-decoration: none;
    | color: white;
    | }
