<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Festival</title>

<link rel="stylesheet" type="text/css" href="bower_components/prism/themes/prism.css">
<link rel="stylesheet" type="text/css" href="bower_components/todc-bootstrap-main/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles/main-presentation.css">
</head>

<body>
</body>
</html>

<nav role="navigation" class="navbar navbar-default">
<div class="container">
	<div class="navbar-header">
		<button type="button" data-toggle="collapse" data-target="presentation-chooser" class="navbar-toggle">
			<span class="sr-only"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a href="index.jade" class="navbar-brand">Harvestmoon Back to Nature</a>

	</div>


	<div id="presentation-chooser" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown">
			<a data-toggle="dropdown" href="#" class="dropdown-toggle">List <b class="caret"></b></a>

				<ul class="dropdown-menu">
					<li>
					<a href="Panduan.jade">Panduan</a>
					</li>

					<li>
					<a href="Ladies.jade">Gadis</a>
					</li>

					<li>
					<a href="Powerberry.jade">Power Berry</a>
					</li>

					<li>
					<a href="Festival.jade">Festival</a>
					</li>
				</ul>
			</li>

		</ul>
	</div>
</div>
</nav>

<article id="presentation">
	<section>
	<h2>Festival-Festival di Harvestmoon Back to Nature</h2>
	<ul>
		<li></li>
	</ul>
	</section>

	<section>
	<h2>Spring Festival</h2>
	</section>

	<section>
	<img src="image/festival/spring_new.png">
	<h2>01. New Year (dimulai tahun kedua)</h2>
	<ul>
		<li></li>
		<li>Pada pukul 06.00 PM - 7:50 PM datanglah ke bar jika ingin berkumpul dan minum-minum dengan para orang dewasa</li>
		<li>dan ke Rose Square jika ingin bicara dengan kaum muda-mudi dan berdansa dengan gadis yang kamu suakai.</li>
		<li>Berbicaralah dengan semua orang yang ada disana untuk menambah pertemanan kalian.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/spring_goddess.png">
	<h2>08. Spring Goddess Festival</h2>
	<ul>
		<li></li>
		<li>Sehari sebelumnya yaitu tanggal 7 spring ajak salah satu gadis untuk menemani pada festival ini.</li>
		<li>Jika dia menolak, maka ke sudut ruangan kemudian menangislah sekencang-kencangnya.</li>
		<li>(hatinya dibawah biru) biasanya dia akan mengatakan bahwa sudah punya janji dengan orang lain.</li>
		<li>Esoknya jika ia menerima, ia akan datang ke rumahmu pukul 6 AM (jika menikah maka istrimu yang menunggu).</li>
		<li>Kerjakan dulu pertanianmu, dan bicara dengannya setelah pekerjaan selesai (sekitar pukul 10 AM) untuk pergi ke festival bersama.</li>
		<li>Setelah selesai acara ia akan mengajakmu ke tempat favoritnya.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/spring_thanksgiving.png">
	<h2>14. Thanksgiving Festival</h2>
	<ul>
		<li></li>
		<li>Berikan hadiah atau masakan pada para penduduk, terutama gadis yang kamu suka.</li>
		<li>Mungkin pada tahun pertama sulit untuk memberi masakan karna belum punya dapur,</li>
		<li>tapi di tahun kedua dan seterusnya usahakan memberi masakan yang enak</br>karna dapat menambah pertemananmu dan menaikan hati gadis.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/spring_horse.png">
	<h2>18. Horse Race Festival</h2>
	<ul>
		<li></li>
		<li>Dari jam 10:00 AM - 2:50 PM di Town Square.</li>
		<li>Di tahun pertama kalian hanya bisa menonton pacuan dan bertaruh untuk mendapat medali</br>
		(digunakan untuk ditukar dengan hadiah, terutama power berry).</li>
		<li>Pilihlah kuda dengan odds paling sedikit, karena biasanya kuda dengan odds sedikit lebih sering menang.</li>
		<li>Mulai tahun kedua kalian bisa mengikutkan kudamu dalam lomba, ia akan bermain di pacuan terakhir.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/spring_cooking.png">
	<h2>22. Cooking Festival</h2>
	<ul>
		<li></li>
		<li>Dari jam 10:00 AM - 2:50 PM di Rose Square.</li>
		<li>Ditahun pertama kamu hanya bisa menonton jadi kamu bisa berpartisipasi di tahun kedua</br>
		jika sudah punya dapur dan peralatan masaknya.</li>
		<li>Hanya masakan istimewa yang bisa memenangkan lomba ini,<br>
		misal Relaxation Tea atau Fried Rice (gunakan banyak bahan tambahan).</li>
	</ul>
	</section>

	<section>
	<h2>Summer Festival</h2>
	</section>

	<section>
	<img src="image/festival/summer_swimming.png">
	<h2>01. Swimming Festival</h2>
	<ul>
		<li></li>
		<li>Datanglah ke Mineral Beach pukul 10.00 AM - 2:50 PM,</br>
		dan bicara dengan Mayor Thomas untuk memulai lomba.</li>
		<li>Saat lomba, selang-selingi antara bernapas dan berenang (tombol O dan Kotak).</li>
		<li>Lomba ini cukup sulit, terutama melawan Kai, dia perenang yang sangat cepat.</li>
		<li>Jika menang kalian akan mendapat Power Berry.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/summer_chicken.png">
	<h2>07. Chicken Sumo Festival</h2>
	<ul>
		<li></li>
		<li>Bawa ayam yang jumlah hatinya tinggi semakin tinggi hatinya semakin tinggi kesempatanmu untuk menang.</li>
		<li>Lalu pergi ke Rose Square pukul 10.00 AM - 2:50 PM.</li>
		<li>Tekan X saat ayammu menghadap ke arah musuh untuk menakutinya sampai keluar arena.</li>
		<li>Jika menang ayammu akan benghasilkan telur emas.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/summer_tomato.png">
	<h2>12. Tomato Festival</h2>
	<ul>
		<li></li>
		<li>Datang ke Rose Square pukul 10.00AM - 2:50 PM.</li>
		<li>Bicara dengan penduduk untuk bergabung dengan tim mereka.</li>
		<li>Stu adalah pemain yang sangat bagus di festival ini.</li>
		<li>Tekan X untuk mengambil tomat dan X lagi untuk melempar.</li>
		<li>Tekan segitiga untuk merunduk (hanya jika kalian tak sedang membawa tomat).</li>
		<li>Jika menang hubunganmu dengan rekan-rekan satu timmu akan meningkat dengan cepat.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/summer_cow.png">
	<h2>20. Cow Festival</h2>
	<ul>
		<li></li>
		<li>Datang ke Yodel Ranch pukul 10.00AM.</li>
		<li>Di hari sebelumnya, Barley akan datang ke kebunmu untuk menanyaimu</br>
		apakah kamu ingin mendaftarkan sapimu, pilih sapi dengan hati paling tinggi.</li>
		<li>Semakin tinggi hati sapimu maka semakin tinggi kesempatan sapimu menang.</li>
		<li>Jika sapimu menang, ia akan menghasilkan susu emas.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/summer_fireworks.png">
	<h2>24. Festival Kembang Api</h2>
	<ul>
		<li></li>
		<li>Pergilah ke Pantai pada pukul 06.00 PM - 7:50 PM.</li>
		<li>Ajaklah seorang Gadis yang kamu sukai</br>
		atau dengan Kai untuk mengajaknya menonton Kembang Api bersama.</li>
	</ul>
	</section>

	<section>
	<h2>Fall Festival</h2>
	</section>

	<section>
	<img src="image/festival/fall_music.png">
	<h2>03. Music Festival</h2>
	<ul>
		<li></li>
		<li>Datanglah ke Gereja pukul 06.00 PM.</li>
		<li>Hari sebelumnya, Carter akan menawarimu untuk berpartisipasi dalam festival ini.</li>
		<li>Jika kamu setuju, kamu akan memainkan alat musik ocarina dan Karen akan bernyanyi disini.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/fall_harvest.png">
	<h2>09. Harvest Festival</h2>
	<ul>
		<li></li>
		<li>Datang ke Rose Square pukul 10.00 AM - 2:50 PM</br>
		dan bawa hasil pertanianmu atau bahan makanan apa saja lalu lemparkan ke dalam pot besar.</li>
		<li>Setelah itu kalian bisa memancing di pot ini.</li>
		<li>Tanggapan penduduk tentang sup ini akan sesuai dengan bahan masakan yang kamu bawa.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/fall_moon.png">
	<h2>13. Moon View Festival</h2>
	<ul>
		<li></li>
		<li>Datanglah ke Mother Hill Peak lewat pukul 6:00 PM - 11:50 PM.</li>
		<li>Kalian akan bertemu gadis yang paling akrab denganmu atau istrimu.</li>
		<li>Kalian akan menghabiskan waktu berdua..</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/fall_sheep.png">
	<h2>21. Sheep Festival</h2>
	<ul>
		<li></li>
		<li>Datanglah ke Yodel Ranch pukul 10.00 AM - 2:50 PM,</li>
		<li>Ikutkan dombamu yang memiliki bulu lengkap di hari sebelumnya,</br>
		tentu saja pilih yang hatinya paling tinggi.</li>
		<li>Anak domba, domba hamil, dan domba yang sudah dicukur tidak bisa dilombakan.</li>
		<li>Jika dombamu menang ia akan menghasilkan wol emas.</li>
	</ul>
	</section>

	<section>
	<h2>Winter Festival</h2>
	</section>

	<section>
	<img src="image/festival/winter_dog.png">
	<h2>10. Dog festival</h2>
	<ul>
		<li></li>
		<li>Festival anjing, dua hari sebelum festival Zack datang untuk bertanya padamu,</nr>
		apakah anjingmu akan diikutkan atau tidak.</li>
		<li>Jika iya, keesokan harinya Zack akan membawa anjingmu dan keesokan harinya kamu dapat mengikuti festival.</li>
		<li>(Tips agar menang latihlah Anjingmu dengan bola yang warna pink, kamu bisa membeli pada Won, dia menawarkan padamu).</li>
		<li>Kamu harus berjalan di depan anjingmu dan ia akan mengikuti jejakmu.</li>
		<li>Jika kamu berjalan terlalu cepat, anjingmu akan kehilangan jejak.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/winter_thanksgiving.png">
	<h2>15. Thanks Giving Winter</h2>
	<ul>
		<li></li>
		<li>Ini adalah festival dimana jika ke-5 gadis memiliki hati minimal ungu dia akan memberimu coklat.</li>
		<li>Bila hati mereka berwarna ungu atau biru, mereka akan memberimu coklat.</li>
		<li>Bila berwarna hijau atau lebih, kamu akan mendapatkan kue coklat.</li>
		<li>Gadis tertentu akan datang pada jam 06.00AM (Popuri), 08.00AM (Ann), 10.00AM (Elli), 01.00PM (Karen), dan 03.00PM (Mary).</li>
		<li>Namun bila kamu sudah punya istri, malamnya istrimu akan memberikan coklat pada ranselmu saat kamu tidur.</li>
		<li>Festival ini sangat penting karena kamu akan mendapatkan bahan-bahan dasar untuk memasak kue</br>
		seperti Kue Coklat yang dapat kamu berikan pada perayaan Thanks giving berikutnya.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/winter_star.png">
	<h2>24. Festival Stary Night (Malam Bintang)</h2>
	<ul>
		<li></li>
		<li>Disaat kamu punya istri, istrimu akan banyak memasak makanan dan biasanya sehari sebelum festival ini istrimu akan memberitahumu,</li>
		<li>saat setelah menikmati makanan, istrimu akan mengajakmu keluar dan biasanya di Puncak Bukit Ibu (Gunung)</li>
		<li>namun bila kamu belum mempunyai Istri kamu bisa mengajak salah satu gadis.</li>
		<li>Pada tanggal 23, berbicara dengannya, ia akan mengajakmu makan malam bersama keluarganya.</li>
	</ul>
	</section>

	<section>
	<img src="image/festival/winter_eve.png">
	<h2>30. Festival Penyambutan New Year</h2>
	<ul>
		<li></li>
		<li>Berkumpulah di Puncak bukit Ibu (Gunung) pada tengah malam (00.00 PM)</li>
		<li>Kamu akan menemui banyak orang disana walaupun tak semuanya datang,</li>
		<li>ajak bicara semua orang yang ada di sana, dan festival siap dimulai,</br>
		dan fajar baru mulai menyingsing di tahun yang baru.</li>
	</ul>
	</section>

	<section>
	<h1>Fin</h1>
	</section>
</article>

<script src="bower_components/bespoke.js/dist/bespoke.min.js"></script>
<script src="bower_components/bespoke-bullets/dist/bespoke-bullets.min.js"></script>
<script src="bower_components/bespoke-scale/dist/bespoke-scale.min.js"></script>
<script src="bower_components/bespoke-hash/dist/bespoke-hash.min.js"></script>
<script src="bower_components/bespoke-progress/dist/bespoke-progress.min.js"></script>
<script src="bower_components/bespoke-state/dist/bespoke-state.min.js"></script>
<script src="bower_components/prism/prism.js"></script><script src="bower_components/prism/components/prism-bash.min.js"></script>
<script src="scripts/main.js"></script><script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/todc-bootstrap-main/dist/js/bootstrap.min.js"></script>