<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Character</title>

<link rel="stylesheet" type="text/css" href="bower_components/todc-bootstrap-main/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
</body>
</html>

<nav role="navigation" class="navbar navbar-default">
<div class="container">
	<div class="navbar-header">
		<button type="button" data-toggle="collapse" data-target="presentation-chooser" class="navbar-toggle">
			<span class="sr-only"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a href="index.jade" class="navbar-brand">Harvestmoon Back to Nature</a>

	</div>


	<div id="presentation-chooser" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown">
			<a data-toggle="dropdown" href="#" class="dropdown-toggle">List <b class="caret"></b></a>

				<ul class="dropdown-menu">
					<li>
					<a href="#.html">Panduan</a>
					</li>

					<li>
					<a href="Ladies.jade">Gadis</a>
					</li>

					<li>
					<a href="Powerberry.jade">Power Berry</a>
					</li>

					<li>
					<a href="#.html">Karakter</a>
					</li>

					<li>
					<a href="#.html">Festival</a>
					</li>
				</ul>
			</li>

		</ul>
	</div>
</div>
</nav>


<div class="container">

	<img src="image/headerimage.jpg">

	<h2><u>Jalan Cerita</u></h2>
	<p>Kamu bermain sebagai seorang pemuda berusia sekitar 17 - 21 tahun yang mempunyai seorang kakek yang tinggal di sebuah perkebunan.</p>

	<p>Beberapa tahun yang lalu ketika kamu masih kecil, orang tuamu terpaksa menitipkan kamu untuk sementara di perkebunan kakekmu saat liburan sekolah di mulai. Hal ini disebabkan karena pekerjaan dari kantor yang tidak dapat mereka tinggalkan. Sehingga mereka tidak dapat merawatmu selama liburan. Kamu merasa liburan ini tidak menyenangkan karena di perkebunan tidak ada hal yang bisa kamu lakukan.</p>

	<p>Ketika kamu masih di perkebunan kamu bertemu seorang gadis, kamu menghabiskan liburanmu dengan bermain, bernyanyi, bersenang-senang dengan teman barumu. Kalian berdua cepat berteman dan kamu merasa bahwa kalian berdua saling menyukai. Masih banyak kenangan indah lainnya di perkebunan kakekmu, tetapi kamu tidak dapat mengingat secara jelas apakah kenangan-kenangan tersebut nyata.</p>

	<p>Diakhir kunjunganmu kamu berjanji pada si gadis bahwa suatu hari kamu akan kembali dan menemuinya. Kakekmu meninggal sepuluh tahun kemudian dan kamu diwarisi perkebunan milik kakekmu. Kamu teringat pada janjimu pada seorang gadis kecil dan kamu memutuskan untuk mencari tahu apakah kenangan manis tersebut nyata.</p>

	<p>Mayor Thomas memberikan kamu pilihan untuk menetap dan mencoba membenahi perkebunan peninggalan kakekmu yang masih terlihat berantakan tersebut. Mayor Thomas mengatakan kepada kamu, bahwa kamu dapat tinggal selama 3 tahun. Jika perkebunanmu berhasil dan penduduk desa menyukaimu, kamu bisa menetap lebih lama di desa ini. Jika kamu gagal menjalankan perkebunanmu maka perkebunanmu akan dijadikan taman hiburan atau jika kamu tidak dapat bersosialisasi dengan penduduk desa, maka kamu harus kembali ke tempat asalmu dan tidak boleh datang lagi ke desa. "Apa yang terjadi kemudian?", kamu bertanya-tanya. Semua tergantung seberapa baik kamu memainkan game ini, dan bagaimana kamu mengurus perkebunan yang telah di warisi oleh kakek kamu.</p>

</div>
<script src="scripts/main.js"></script><script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/todc-bootstrap-main/dist/js/bootstrap.min.js"></script>