<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Ladies</title>

<link rel="stylesheet" type="text/css" href="bower_components/prism/themes/prism.css">
<link rel="stylesheet" type="text/css" href="bower_components/todc-bootstrap-main/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles/main-presentation.css">
</head>

<body>
</body>
</html>

<nav role="navigation" class="navbar navbar-default">
<div class="container">
	<div class="navbar-header">
		<button type="button" data-toggle="collapse" data-target="presentation-chooser" class="navbar-toggle">
			<span class="sr-only"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a href="index.jade" class="navbar-brand">Harvestmoon Back to Nature</a>

	</div>


	<div id="presentation-chooser" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown">
			<a data-toggle="dropdown" href="#" class="dropdown-toggle">List <b class="caret"></b></a>

				<ul class="dropdown-menu">
					<li>
					<a href="Panduan.jade">Panduan</a>
					</li>

					<li>
					<a href="Ladies.jade">Gadis</a>
					</li>

					<li>
					<a href="Powerberry.jade">Power Berry</a>
					</li>

					<li>
					<a href="#.html">Karakter</a>
					</li>

					<li>
					<a href="Festival.jade">Festival</a>
					</li>
				</ul>
			</li>

		</ul>
	</div>
</div>
</nav>

<article id="presentation">
	<section>
	<img src="image/picture/karen.png">
	<h2>Karen</h2>
	<h3>Ulang tahun: Fall 15th (Fall 23th)</h3>
	<ul>
		<li>Kesukaannya: Bunga-Bunga dan Jamur <br>(dipinggir danau mother hill)</li>
		<li>Saingan: Rick</li>
	</ul>
	</section>

	<section>
	<h2>Waktu dan Tempat jika ingin Menemuinya:</h2>
	<ul>
		<li><h3>Bila cuaca baik: Kecuali Minggu dan Selasa</h3></li>
		<li>8:00 AM - 10:00 AM - di luar Clinic/Supermarket</li>
		<li>10:00 AM - 1:00 PM - House</li>
		<li>1:00 PM - 7:00 PM - Supermarket</li>
		<li>7:30 PM - 10:00 PM - Mineral Beach</li>
	</ul>
	</section>

	<section>
	<h2>Waktu dan Tempat jika ingin Menemuinya:</h2>
	<ul>
		<li><h3>Minggu, Selasa</h3></li>
		<li>8:00 AM - 10:00 AM - di luar Clinic/Supermarket</li>
		<li>10:00 AM - 1:00 PM - House</li>
		<li>1:00 PM - 4:00 PM - Hot Springs</li>
		<li>8:00 PM - 10:00 PM - Inn</li>
	</ul>
	</section>

	<section>
	<h2>Waktu dan Tempat jika ingin Menemuinya:</h2>
	<ul>
		<li><h3>Bila cuaca jelek:Kecuali Minggu, Selasa</h3></li>
		<li>9:00 AM - 7:00 PM - Supermarket</li>

	</ul>
	</section>

	<section>
	<h2>Waktu dan Tempat jika ingin Menemuinya:</h2>
	<ul>
		<li><h3>Minggu, Selasa</h3></li>
		<li>1:00 PM - 4:00 PM - Rumah Gotz</li>
		<li>8:00 PM - 10:00 PM - Inn</li>

	</ul>
	</section>

	<section>
	<img src="image/picture/ann.png">
	<h2>Ann</h2>
	<h3>Ulang Tahun: Summer 17th (Summer 22th)</h3>
	<ul>
		<li>Kesukaannya: Apa saja</li>
		<li>Saingan: Clift</li>
	</ul>
	</section>

	<section>
	<h2>Waktu dan Tempat jika ingin Menemuinya:</h2>
	<ul>
		<li></br></li>
		<li>07:00 AM - 10:00 AM - di hot spring jika hari tidak hujan</li>
		<li>10:00 AM - 01:00 PM - dilantai dua penginapan</li>
		<li>01:00 PM - 07:00 PM - dilantai satu penginapan</li>
		<li>07:00 PM - 10:00 PM - dilantai dua penginapan</li>
	</ul>
	</section>

	<section>
	<img src="image/picture/mary.png">
	<h2>Marry</h2>
	<h3>Ulang Tahun: Winter 20th</h3>
	<ul>
		<li>Kesukaannya: Jamur Biasa dan Jamur Beracun</li>
		<li>Saingan: Gray</li>
	</ul>
	</section>

	<section>
	<h2>Waktu dan Tempat jika ingin Menemuinya:</h2>
	<ul>
		<li></br></li>
		<li>07:00 AM - 10:00 AM - di Mother Hill jika hari tidak hujan</li>
		<li>10:00 AM - 06:00 PM - di perpustakaan</li>
		<li>01:00 PM - 04:00 PM - di supermarket jika perpustakaan tutup</li>

	</ul>
	</section>

	<section>
	<img src="image/picture/popuri.png">
	<h2>Popuri</h2>
	<h3>Ulang Tahun: Summer 3th</h3>
	<ul>
		<li>Kesukaannya: Bunga Pink Cat dan Madu</li>
		<li>Saingan: Kai</li>
	</ul>
	</section>

	<section>
	<h2>Waktu dan Tempat jika ingin Menemuinya:</h2>
	<ul>
		<li></br></li>
		<li>07:30 AM -10:00 AM - di Hot Spring jika tidak hujan, jika hujan dirumahnya</br>
		<li>10:00-06:00 sore dirumah</li>
		<li>minggu 09:30 AM - 01:00 PM - di gereja kecuali musim panas</br>
		<li>minggu 08:30 AM - 10:00 AM - di pantai hanya pada musim panas jika hari tidak hujan</br>
		<li>minggu 01:30 PM - 04:00 PM - di alun-alun, jika hujan di gereja</br>
	</ul>
	</section>

	<section>
	<img src="image/picture/elli.png">
	<h2>Elli</h2>
	<h3>Ulang Tahun: Spring 16th</h3>
	<ul>
		<li>Kesukaannya: Bunga-Bunga</li>
		<li>Saingan: Dokter</li>
	</ul>
	</section>

	<section>
	<h2>Waktu dan Tempat jika ingin Menemuinya:</h2>
	<ul>
		<li></br></li>
		<li>09:00 AM - 19:00 PM - diklinik</li>
		<li>09:30 AM - 01:00 PM dan 04:30 PM - 07:00 PM - dirumahnya jika hari libur atau klinik tutup dan festival</li>
		<li>01:30 PM - 04:00 PM - di supermarket jika klinik tutup</li>
	</ul>
	</section>





	<section>
	<h1>Fin</h1>
	</section>
</article>

<script src="bower_components/bespoke.js/dist/bespoke.min.js"></script>
<script src="bower_components/bespoke-bullets/dist/bespoke-bullets.min.js"></script>
<script src="bower_components/bespoke-scale/dist/bespoke-scale.min.js"></script>
<script src="bower_components/bespoke-hash/dist/bespoke-hash.min.js"></script>
<script src="bower_components/bespoke-progress/dist/bespoke-progress.min.js"></script>
<script src="bower_components/bespoke-state/dist/bespoke-state.min.js"></script>
<script src="bower_components/prism/prism.js"></script><script src="bower_components/prism/components/prism-bash.min.js"></script>
<script src="scripts/main.js"></script><script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/todc-bootstrap-main/dist/js/bootstrap.min.js"></script>