<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Panduan</title>

<link rel="stylesheet" type="text/css" href="bower_components/prism/themes/prism.css">
<link rel="stylesheet" type="text/css" href="bower_components/todc-bootstrap-main/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles/main-presentation.css">
</head>

<body>
</body>
</html>

<nav role="navigation" class="navbar navbar-default">
<div class="container">
	<div class="navbar-header">
		<button type="button" data-toggle="collapse" data-target="presentation-chooser" class="navbar-toggle">
			<span class="sr-only"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a href="index.jade" class="navbar-brand">Harvestmoon Back to Nature</a>

	</div>


	<div id="presentation-chooser" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown">
			<a data-toggle="dropdown" href="#" class="dropdown-toggle">List <b class="caret"></b></a>

				<ul class="dropdown-menu">
					<li>
					<a href="Panduan.jade">Panduan</a>
					</li>

					<li>
					<a href="Ladies.jade">Gadis</a>
					</li>

					<li>
					<a href="Powerberry.jade">Power Berry</a>
					</li>

					<li>
					<a href="Festival.jade">Festival</a>
					</li>
				</ul>
			</li>

		</ul>
	</div>
</div>
</nav>

<article id="presentation">


	<section>
	<img src="image/HarvestmoonPict.jpg">
	<h2>Panduan</h2>
	<ul>
		<li></li>
		<li><h3>Disini akan dijelaskan mengenai target-target yang harus kamu capai di setiap musimnya.</br>
		Jika kamu pemula, maka ini adalah cara yang termudah untuk sukses di perkebunanmu.</h3></li>
	</ul>
	</section>

	<section>
	<h2>Target Spring tahun pertama</h2>
	<ul>
		<li></li>
		<li>- Mempunyai fishing rod</li>
		<li>- Mempunyai ayam</li>
		<li>- Membeli medium rucksack</li>
		<li>- Mendapatkan 3 powerberry dan mysticberry</li>
		<li>- Upgrade axe dengan copper ore</li>
		<li>- Upgrade hammer dengan silver ore</li>
		<li>- Upgrade watering can dengan gold ore</li>
		<li>- Mempunyai brush</li>
		<li>- Mempunyai kuda</li>
	</ul>
	</section>

	<section>
	<h2>Target Summer tahun pertama</h2>
	<ul>
		<li></li>
		<li>- Mendapatkan 1 powerberry dari festival renang</li>
		<li>- Perluas kandang ayam</li>
		<li>- Mempunyai sarang lebah yang menghasilkan madu</li>
		<li>- Perluas rumah</li>
		<li>- Upgrade axe dengan mystrile</li>
		<li>- Membeli large rucksack</li>
		<li>- Mempunyai basket</li>
		<li>- Mempunyai 1 sapi</li>
	</ul>
	</section>

	<section>
	<h2>Target Fall tahun pertama</h2>
	<ul>
		<li></li>
		<li>- Mempunyai milker</li>
		<li>- Perluas kandang sapi dan domba</li>
		<li>- Menanam 12 rumput di ladang</li>
		<li>- Mempunyai 10 sapi</li>
	</ul>
	</section>

	<section>
	<h2>Target Winter tahun pertama</h2>
	<ul>
		<li></li>
		<li>- Upgrade sickle dengan mystrile</li>
		<li>- Mendapatkan 4 powerberry</li>
		<li>- Mempunyai 5 domba</li>
		<li>- Mempunyai alat pencukur</li>
	</ul>
	</section>

	<section>
	<h2>Target Spring tahun kedua</h2>
	<ul>
		<li></li>
		<li>- Mendapatkan benih strawberry</li>
		<li>- Mempunyai 10 domba</li>
		<li>- Menanam 9 rumput di ladang</li>
		<li>- Perluas rumah</li>
		<li>- Mempunyai mayonnaise maker</li>
		<li>- Mendapatkan 1 powerberry</li>
	</ul>
	</section>

	<section>
	<h2>Target Summer tahun kedua</h2>
	<ul>
		<li></li>
		<li>- Mempunyai cheese maker</li>
		<li>- Mempunyai yarn maker</li>
		<li>- Mendapatkan benih pumpkin</li>
		<li>- Mempunyai HotHouse</li>
	</ul>
	</section>

	<section>
	<h2>Target Fall tahun kedua</h2>
	<ul>
		<li></li>
		<li>- Mendapatkan benih spinach</li>
		<li>- Membuat banyak resep masakan</li>
	</ul>
	</section>

	<section>
	<h2>Target Winter tahun kedua</h2>
	<ul>
		<li></li>
		<li>Tidak ada.</li>
	</ul>
	</section>

	<section>
	<h2>Target Spring tahun ketiga</h2>
	<ul>
		<li></li>
		<li>- Menanam beberapa strawberry</li>

		<li><h2>Target Summer tahun ketiga</h2></li>
		<li>- Menanam beberapa pumpkin</li>

		<li><h2>Target Fall tahun ketiga</h2></li>
		<li>- Menanam beberapa spinach</li>
		<li>- Mempunyai setidak lebih dari 50 resep</li>

		<li><h2>Target Winter tahun ketiga</h2></li>
		<li>- Sudah mempunyai 64 resep</li>
	</ul>
	</section>


	<section>
	<h1>Fin</h1>
	</section>
</article>

<script src="bower_components/bespoke.js/dist/bespoke.min.js"></script>
<script src="bower_components/bespoke-bullets/dist/bespoke-bullets.min.js"></script>
<script src="bower_components/bespoke-scale/dist/bespoke-scale.min.js"></script>
<script src="bower_components/bespoke-hash/dist/bespoke-hash.min.js"></script>
<script src="bower_components/bespoke-progress/dist/bespoke-progress.min.js"></script>
<script src="bower_components/bespoke-state/dist/bespoke-state.min.js"></script>
<script src="bower_components/prism/prism.js"></script><script src="bower_components/prism/components/prism-bash.min.js"></script>
<script src="scripts/main.js"></script><script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/todc-bootstrap-main/dist/js/bootstrap.min.js"></script>