<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Character</title>

<link rel="stylesheet" type="text/css" href="bower_components/prism/themes/prism.css">
<link rel="stylesheet" type="text/css" href="bower_components/todc-bootstrap-main/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles/main-presentation.css">
</head>

<body>
</body>
</html>

<nav role="navigation" class="navbar navbar-default">
<div class="container">
	<div class="navbar-header">
		<button type="button" data-toggle="collapse" data-target="presentation-chooser" class="navbar-toggle">
			<span class="sr-only"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a href="index.jade" class="navbar-brand">Harvestmoon Back to Nature</a>

	</div>


	<div id="presentation-chooser" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown">
			<a data-toggle="dropdown" href="#" class="dropdown-toggle">List <b class="caret"></b></a>

				<ul class="dropdown-menu">
					<li>
					<a href="#.html">Panduan</a>
					</li>

					<li>
					<a href="Ladies.jade">Gadis</a>
					</li>

					<li>
					<a href="Powerberry.jade">Power Berry</a>
					</li>

					<li>
					<a href="#.html">Karakter</a>
					</li>

					<li>
					<a href="#.html">Festival</a>
					</li>
				</ul>
			</li>

		</ul>
	</div>
</div>
</nav>

<article id="presentation">


	<section>
	<img src="Powerberry/StatusPowerBerry.jpg">
	<h2>PowerBerry</h2>
	<ul>
		<li></li>
		<li><b>Power berry</b> adalah benda yang di makan karaktermu untuk menambah maksimum stamina karaktermu.</li>
		<li><h3>Kamu bisa mendapatkannya di tempat-tempat berikut:</h3></li>
	</ul>
	</section>

	<section>
	<img src="Powerberry/Tambang1Berry.jpg">
	<h2>Gua dekat Hotspring</h2>
	<ul>
		<li></li>
		<li>Masuklah ke sumur Guanya dan galilah dengan cangkul atau gigi anda sampai dapat.</li>
		<li><h3>Catatan : Biasanya <b>Power berry</b> berada di gua hotspring sekitar lantai 3-5.</h3></li>
	</ul>
	</section>

	<section>
	<img src="Powerberry/GoddesBerry.jpg">
	<h2>Goddes Peri</h2>
	<ul>
		<li></li>
		<li>Di dapat dari Goddes, lemparlah 5 hasil panen sendiri yang anda punya ke waterfall.</br>Ingat, hasil panen sendiri jadi jangan ambil upil anda terus di lempar.</li>
		<li><h3>Catatan : <b>Power berry</b> dari goddes tidak bisa didapatkan saat hujan dan festival.</h3></li>
	</ul>
	</section>

	<section>
	<img src="Powerberry/HorseBerry.jpg">
	<h2>Festival Kuda</h2>
	<ul>
		<li></li>
		<li>Di dapat dari festival kuda, Menangkan medali batu dari festival kuda hingga 1001,</br>
		kemudian tukarkan hadiahnya ke walikota dengan Power Berry (Power Fruit).</li>
		<li><h3>Catatan : Untuk memenangkan taruhan di festival kuda, triknya adalah pilihlah pada kuda yang memilki <b>oods paling kecil</b>.</h3></li>
	</ul>
	</section>

	<section>
	<img src="Powerberry/SwimmingBerry.jpg">
	<h2>Festival Renang</h2>
	<ul>
		<li></li>
		<li>Di dapat dari festival renang, Menangkanlah festival renang hingga menjadi juara 1,</br>
		nanti walikota akan memberi <b>Power Berry</b>.</li>
		<li><h3>Catatan : <b>One Hundred Push-ups. One Hundred Sit-Ups. One Hundres Squats. And Run Ten Kilometers. Every Day~!</b></h3></li>
		<li><h3>Engga jamin menang :P</h3></li>
	</ul>
	</section>

	<section>
	<img src="Powerberry/Saitama.jpg">
	</section>

	<section>
	<img src="Powerberry/FlowerBerry.jpg">
	<h2>Di dapat dari Anna</h2>
	<ul>
		<li></li>
		<li>Di dapat dari Anna, Tanamlah sekitar 100 bunga (apa saja) sampai berbunga.</li>
		<li><h3>Catatan : Jika sudah berbunga, tunggu hingga jam 12 siang, kemudian masuk ke rumah dan keluar rumah,</br>
		nanti Anna akan datang untuk meminta odol.. maksudnya <b>Bunga</b>, kemudian dia akan memberi pilihan,</br>
		dan pilihlah yang "Give all she wants" atau pilihan yang pertama.</h3></li>
	</ul>
	</section>

	<section>
	<img src="Powerberry/TreeBerry.jpg">
	<h2>Pohon Cedar</h2>
	<ul>
		<li></li>
		<li>Di dapat dari Pohon Cedar, datanglah ke taman bunga, nanti akan ada pohon berdiri sendiri (Cedar),</br>
		<li>Tebang pohon cedar tersebut dengan hp nokia mu.. maksudnya kapakmu. Nanti pohon cedar akan memberi pilihan</li>
		<li>dan pilihlah yang "jangan tebang" kemudian pohon cedar akan memberimu Power Berry.</li>
		<li><h3>Catatan : <b>Pohon cedar</b> hanya bisa di tebang lebih dari pukul 11 am.</h3></li>
	</ul>
	</section>

	<section>
	<img src="Powerberry/TvBerry.jpg">
	<h2>TV Belanja</h2>
	<ul>
		<li></li>
		<li>Di dapat dari TV Belanja, Belilah semua barang dari tv belanja,</br>
		nanti diakhir penawarannya dia akan menawarkan Power Berry (Power Fruit).</li>
		<li><h3>Catatan : Tidak ada catatan.</h3></li>
	</ul>
	</section>

	<section>
	<img src="Powerberry/TambangHiddenBerry.jpg">
	<h2>Belakang Gua Winter</h2>
	<ul>
		<li></li>
		<li>Di dapat dari luar winter mine (gua winter), datanglah ke gua winter</br>
		kemudian ambil Power Berrynya. Lihat gambar letak Power berrynya.</li>
		<li><h3>Catatan : Hayoo.. ketahuan makan di belakang.</h3></li>
	</ul>
	</section>
	</section>

	<section>
	<img src="Powerberry/Tambang2Berry.jpg">
	<h2>Gua Winter</h2>
	<ul>
		<li></li>
		<li>Di dapat di Winter Mine (Gua winter), masuklah ke gua winter</br>
		dan galilah sampai dapat Power Berry.</li>
		<li><h3>Catatan : Biasanya <b>Power berry</b> berada di lantai 3-5 (sama seperti gua hotsping).</h3></li>
	</ul>
	</section>

	<section>
	<img src="Powerberry/FishingBerry.jpg">
	<h2>Memancing Ikan</h2>
	<ul>
		<li></li>
		<li>Sesuai judul. Di dapat dari Mancing di laut.</br>
		<li><h3>Catatan : Biasanya <b>Power berry</b> di dapat sesuai kebrentungan masing-masing.</h3></li>
		<li><h3>Kalau masih belum dapat-dapat, berarti Fengshui anda belum bagus.</h3></li>
	</ul>
	</section>

	<section>
	<img src="Powerberry/KappaBerry.jpg">
	<h2>Spesial Berry</h2>
	<ul>
		<li></li>
		<li><b>Special Berry</b> di dapat dari The Kappa, lemparlah 3 timun ke danau.</li>
		<li><h3>Catatan : The kappa keluar lebih dari jam 11.</h3></li>
		<li><h3>Kalau masih belum keluar-keluar, berarti Kappa-nya sedang kenyang.</h3></li>
	</ul>
	</section>


	<section>
	<h1>Fin</h1>
	</section>
</article>

<script src="bower_components/bespoke.js/dist/bespoke.min.js"></script>
<script src="bower_components/bespoke-bullets/dist/bespoke-bullets.min.js"></script>
<script src="bower_components/bespoke-scale/dist/bespoke-scale.min.js"></script>
<script src="bower_components/bespoke-hash/dist/bespoke-hash.min.js"></script>
<script src="bower_components/bespoke-progress/dist/bespoke-progress.min.js"></script>
<script src="bower_components/bespoke-state/dist/bespoke-state.min.js"></script>
<script src="bower_components/prism/prism.js"></script><script src="bower_components/prism/components/prism-bash.min.js"></script>
<script src="scripts/main.js"></script><script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/todc-bootstrap-main/dist/js/bootstrap.min.js"></script>